/* General Styles */
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    -webkit-user-select: none;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Main Content Container */
.content {
    max-width: 600px;
    margin: 0 auto;
    background-color: black;
}

/* Header Styles */
header {
    color: white;
    background-image: url('images/burger.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    height: 170px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* Restaurant Name Styles */
.restaurant-name {
    display: flex;
    align-items: center;
}

/* Header Heading Styles */
h1 {
    font-weight: 600;
    letter-spacing: 12px;
    font-size: 38px;
}

/* Chinese Name Font Style */
.chi-name {
    font-family: 'Ma Shan Zheng', sans-serif;
}

/* Responsive Design for Header */
@media screen and (max-width: 450px) {
    header {
        padding: 0 20px;
    }
    h1 {
        font-size: 7.7vw;
        letter-spacing: 4px;
    }
    h2 {
        font-size: 7.1vw;
    }
}

/* Navbar Styles */
.navbar {
    overflow: scroll;
    display: flex;
    gap: 8px;
    margin-top: 10px;
    padding: 0 8px;
    white-space: nowrap;
}

/* Hide Navbar Scrollbar */
.navbar::-webkit-scrollbar {
    display: none;
}

/* Navbar Link Styles */
.navbar a {
    text-decoration: none;
    background-color: #ffffff3c;
    padding: 8px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Category Name Styles */
.category-name {
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
    border-bottom: 4px solid #ea9d31;
    padding: 0 12px 0 8px;
    margin: 8px 0 0 0;
}

/* Option Styles */
.option {
    display: flex;
    align-items: center;
    padding-right: 15px;
    border-bottom: 1px solid #ffffff3c;
}

/* Food Section Styles */
.food {
    display: flex;
}

/* Category Styles */
.category {
    color: white;
}

/* Food Image Styles */
.imgs {
    width: 90px;
    height: 80px;
    border-radius: 8px;
    margin: 10px;
}

/* Food Details Styles */
.details {
    margin-top: 8px;
}

/* Food Name Styles */
.food-name {
    color: #ea9d31;
    font-size: 1.3em;
}

/* Food Name and Price Margin Styles */
.food-name,
.food-price {
    margin: 0;
}

/* Specification Styles */
.specification {
    margin: 0 0 6px 0;
    color: rgba(255, 255, 255, 0.835);
}

/* Add-to-Cart Button Styles */
.add-to-cart {
    color: #ffffffca;
    border: 1px solid #ffffffca;
    border-radius: 50%;
    padding: 0 10px;
    margin-left: auto;
    font-size: 32px;
    background-color: transparent;
    cursor: pointer;
}

/* Container Styles for Food Items */
.container {
    display: none;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(106, 106, 106);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

/* Title Styles in Container */
.title {
    text-align: center;
    margin: 0;
    margin: 6px 0;
    font-size: 24px;
}

/* Order Container Styles */
.order-container {
    max-height: 400px;
    overflow-y: scroll;
    border-bottom: 2px solid rgb(147, 147, 147);
}

/* Hide Order Container Scrollbar */
.order-container::-webkit-scrollbar {
    display: none;
}

/* Item Container Styles */
.item-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

/* Item Container Heading Styles */
.item-container h3 {
    margin: 0;
}

/* Item Styles */
.item {
    display: flex;
}

/* Item Heading Styles */
.item h3 {
    font-size: 20px;
    color: #ea9d31;
}

/* Remove Button Styles */
.remove-btn {
    background-color: transparent;
    border: none;
    color: rgb(209, 209, 209);
    margin: 0;
    margin-top: 6px;
    cursor: pointer;
}

/* Container Heading Styles */
.container h1 {
    margin: 0;
    font-size: 30px;
}

/* Prices Container Styles */
.prices-container {
    padding: 10px;
}

/* Price Container Styles */
.price-container {
    display: flex;
    justify-content: space-between;
}

/* Price Heading Styles */
.price-container h3 {
    margin: 0;
    color: rgb(212, 211, 211);
}

/* Icon Container Styles */
.icon-container {
    font-size: 26px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* Chevrons Down Styles */
.fa-chevron-down {
    padding: 8px;
}

/* Chevrons Up Styles */
.fa-chevron-up {
    display: none;
    position: relative;
    top: 10px;
}

/* Green Button Styles */
.green-btn {
    background-color: #16DB99;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 22px;
    padding: 16px 0;
    cursor: pointer;
    margin-bottom: 3px;
}

/* Continue Container Styles */
.continue-container {
    display: none;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(106, 106, 106);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}